[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "AtharvaGarolesBlog/themes/PaperMod"]
	path = AtharvaGarolesBlog/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
